.dealCont:hover{
    background-color: transparent;
    transition: 0.5s;
}

.purpBG:hover{
    transition: 0.5s;
    background-color: rgba(134, 43, 176, 0.9);
}

.greenBG:hover{
    transition: 1s;
    background-color: rgba(52, 187, 122, 0.9);
}

.blueBG:hover{
    transition: 1s;
    background-color: rgba(24, 58, 183, 0.9);
}

@media only screen and (min-width: 600px) {

    .dealBgCont{
        background-image: url(../../images/static.gif);
        background-repeat: no-repeat;
        background-size: cover;
        height: 30vw;
    }

    .dealCont{
        background-color: rgba(36, 28, 61, 0.9);
        display: grid;
        grid-template-rows: 3fr 1fr 1fr;
        padding: 2vw;
        height: 26vw;
    }

    .jobType{
        font-size: 1.8vw;
        color: white;
        font-weight: 700;
        width: fit-content;
        border-bottom: white;
    }

    .roleType{
        font-size: 1vw;
        color: #909090;
        font-weight: 800;
    }
}

@media only screen and (max-width: 600px) {

    .dealBgCont{
        background-image: url(../../images/static.gif);
        background-repeat: no-repeat;
        background-size: cover;
        height: 120vw;
    }

    .dealCont{
        background-color: rgba(36, 28, 61, 0.9);
        display: grid;
        grid-template-rows: 3fr 1fr 1fr;
        padding: 4vw;
        height: 112vw;
    }

    .jobType{
        font-size: 6vw;
        color: white;
        font-weight: 700;
        width: fit-content;
        border-bottom: white;
    }

    .roleType{
        font-size: 4vw;
        color: #909090;
        font-weight: 800;
    }

}