.dealBgCont{
    background-image: url(../../images/static.gif);
    background-repeat: no-repeat;
    background-size: cover;
    height: 30vw;
    border-top: 0px white solid;
}

.dealBgCont:hover{
    transition: 1s;
    border-top: 1vw white solid;
    height: 29vw;
}

.dealCont{
    background-color: rgb(36, 28, 61, 0.9);
    display: grid;
    grid-template-rows: 3fr 1fr 1fr;
    padding: 2vw;
    height: 26vw;
}

.dealCont:hover{
    transition: 1s;
    height: 25vw;
    background-color: rgb(36, 28, 61, 0.8);
}

.jobType{
    font-size: 1.8vw;
    color: white;
    font-weight: 700;
}

.roleType{
    font-size: 1vw;
    color: #909090;
    font-weight: 800;
}