.dealBgCont{
    background-image: url(../../images/static.gif);
    background-repeat: no-repeat;
    background-size: cover;
}

.dealCont{
    background-color: rgb(36, 28, 61, 0.9);
    display: grid;
    grid-template-rows: 3fr 1fr 1fr;
    padding: 2vw;
}

.jobType{
    font-size: 1.8vw;
    color: white;
    font-weight: 700;
    height: 2.5vw;
    border-bottom: 6px solid purple;
    margin-bottom: 3vw;
}

.roleType{
    font-size: 1vw;
    color: #909090;
    font-weight: 800;
}