.footerCont{
    display: grid;
    grid-template-rows: 5fr 2fr 1fr;
    background-color: #241C3D;
    padding: 10vw;
    grid-gap: 3vw;
}

.contactLink{
    color: #F0C17D;
    border-bottom: solid 1px #F0C17D;
}

.ssCont{
    
}

.footerLinks{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.linksCont{
    display: flex;
    flex-direction: column;
}

.link{
    color: #909090;
}

.linkTitle{
    color: white;
    font-size: 1vw;
    font-weight: 300;
}

input{
    background-color: transparent;
    border: none;
    border-bottom: solid 2px white;
}

.valCta{
    color: #F0C17D;
    background-color: transparent;
    border: solid 1px white;
    padding: 1vw;
    text-align: center;
    width: 10vw;
    text-decoration: none;
}

.cwText{
    text-align: center;
}