.keyFigCont{
    display: grid;
    grid-template-rows: 60% 5% 35%;
    width: 20vw;
    border: 1px solid #6D6975;
    padding-left: 3vw;
    padding-right: 3vw;
    margin: 1vw;
    flex-shrink: 0;
}

.keyFigCont h1{
    font-size: 5vw;
    color: #F0C17D;
    margin-bottom: 0px;
    align-items: flex-end;
}

.keyFigCont h2{
    font-size: 1vw;
    color: white;
}

.keyFigCont svg{
    fill: white;
}