@media only screen and (min-width: 600px) {

    .newsContainer{
        background-color: white;
        display: grid;
        grid-template-columns: 2fr 5fr 1fr;
        grid-gap: 2vw;
        padding: 2vw;
    }

    .newsImg{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .newsContent{
        display: grid;
    }

    .secTitle{
        color: black;
        font-size: 1vw;
        border-bottom: solid black 2px;
        height: 1.6vw;
        margin-top: 0px;
        width: fit-content;
    }

    .newsDate{
        color: #A26C1D;
        font-size: 0.8vw;
        margin-top: 0px;
    }

}

@media only screen and (max-width: 600px) {

    .newsContainer{
        background-color: white;
        display: grid;
        grid-template-rows: 60vh auto auto;
        gap: 10vh;
        margin: -4vw;
        padding: 4vw;
    }

    .newsImg{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .newsContent{
        display: grid;
    }

    .secTitle{
        display: none;
    }

    .newsDate{
        color: #A26C1D;
        font-size: 6vw;
        margin-top: 0px;
    }

}