.item-container {
    width: 100%;
    display: flex;
    overflow-x: scroll;
    list-style: none;
    padding:0px;
    margin: auto;
    flex-shrink: 0;
}
  
.item-container::-webkit-scrollbar {
    display: none;
}

.item-controls {
    text-align: center;
    width: 80vw;
    margin-top: 4vw;
}

#controlArrow{
    margin: 2vw;
    padding: 0.5vw;
}

.scrollable-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 80vw;
}