.dealsCont{
    display: flex;
    flex-direction: column;
}

.featureCont{
    display: grid;
    gap: 4vw;
    padding: 16vw;
    padding-top: 15vw;
    background-color: rgb(36, 28, 61, 0.9);
}

.dealsSectionCont{
    display: grid;
    margin: 10vw;
    gap: 4vw;
}

.dealsContentCont{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2vw;
}