.featureCont{
    display: grid;
    grid-gap: 4vw;
    padding: 16vw;
    padding-top: 15vw;
    background-color: rgb(36, 28, 61, 0.9);
}

.mainCont{
    display: flex;
    flex-direction: column;
}

.sectionCont{
    display: grid;
    grid-template-rows: auto auto auto;
    margin: 10vw;
    grid-gap: 4vw;
}

.titleCont{
    display: grid;
    grid-template-columns: 10% 90%;
}

.contentCont{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2vw;
    height: 34vw;
}

.newsCont{
    display: grid;
    grid-template-rows: auto auto auto;
    padding: 10vw;
    grid-gap: 4vw;
    background-color: #f9f9f9;
}

.linkCta{
    text-align: center;
    color: black;
    background-color: white;
    border: solid 1px #241C3D;
    padding: 1vw;
    width: 10vw;
    justify-self: center;
    text-decoration: none;
}

.linkCta:hover{
    transform: skewX(-10deg) translate(10px);
    transition: 0.5s;
    background-color: #241C3D;
    color: white;
}


.joinUs{
    text-align: right;
    margin: 10vw;
    margin-top: 1vw;
}
.joinUsLink{
    color: #A26C1D;
    border-bottom: solid 1px;
}
