.teamExpCont{
    display: grid;
    grid-template-rows: auto auto auto;
    gap: 3vw;
}

.teamExpCont h1{
    font-size: 3vw;
    color: black;
    font-weight: 400;
}

.teamExpCont h2{
    font-size: 1.5vw;
    color: #909090;
    font-weight: 400;
}

.teamCountCont{
    display: grid;
    grid-template-columns: 1fr 9fr;
}

.teamContentCont{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2vw;
}