.App{
    overflow: hidden;
}

h1{
    font-size: 6vw;
    color: white;
    font-weight: 300;
}

h2{
    color: black;
    font-size: 4vw;
}

h3{
    color: black;
    font-size: 2vw;
}

h4{

}

h5{
    color: #A26C1D;
    font-size: 1vw;
}

h6{
    color: white;
    font-size: 1.8vw;
    font-weight: 600;
    margin: 0vw;
}

p{
    color: #909090;
    font-size: 1.2vw;
}

input{
    margin-bottom: 3vw;
}

button{
    background-color: none;
    color: none;
    fill: none;
    border: none;
}

.sDText{
    color: white;
    font-size: 0.8vw;
    font-weight: 400;
    text-align: center;
}

.cta{
    color: black;
    background-color: white;
    border: solid 1px #241C3D;
    padding: 1vw;
    text-align: center;
    width: 10vw;
    text-decoration: none;
}

.cta:hover{
    animation: swing 1s ease;
}

::-webkit-scrollbar {
    width: 10px;
    border-radius: 50%;
  }
  
::-webkit-scrollbar-track {
background: #ffffff; 
}

::-webkit-scrollbar-thumb {
background: #241C3D; 
}

::-webkit-scrollbar-thumb:hover {
background: #555; 
}

@keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}