.App{
    overflow: hidden;
}

a{
    text-decoration: none;
}

h1{
    font-size: 6vw;
    color: white;
    font-weight: 300;
}

h2{
    color: black;
    font-size: 4vw;
}

h3{
    color: black;
    font-size: 2vw;
}

h4{

}

h5{
    color: #A26C1D;
    font-size: 1vw;
}

h6{
    color: white;
    font-size: 1.8vw;
    font-weight: 600;
    margin: 0vw;
}

p{
    color: #909090;
    font-size: 1.2vw;
}

input{
    margin-bottom: 3vw;
}

button{
    background-color: #241C3D;
    color: none;
    fill: none;
    border: none;
}

.sDText{
    color: white;
    font-size: 0.8vw;
    font-weight: 400;
    text-align: center;
}

.cta{
    color: black;
    background-color: white;
    border: solid 1px #241C3D;
    padding: 1vw;
    text-align: center;
    width: 10vw;
    text-decoration: none;
}

.cta:hover{
    transform: skewX(-10deg) translate(10px);
    transition: 0.5s;
    background-color: #241C3D;
    color: white;
}

::-webkit-scrollbar {
    width: 10px;
    border-radius: 50%;
}
  
::-webkit-scrollbar-track {
    background: #ffffff; 
}

::-webkit-scrollbar-thumb {
    background: #241C3D; 
}

::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.homeCont{
    background-color: white;
    display: flex;
    flex-direction: column;
}

.featureBgCont{
    background-image: url(./images/lion.gif);
    background-repeat: no-repeat;
    background-size: cover;
}

.featureStaticCont{
    background-image: url(./images/static.gif);
    background-repeat: repeat;
    /* background-size: cover; */
}

.sectionCont{
    display: grid;
    grid-template-rows: auto auto auto;
    margin: 10vw;
    gap: 4vw;
}

.joinUs{
    margin: 10vw;
    margin-top: 1vw;
}
.joinUsLink{
    color: #A26C1D;
    border-bottom: solid 1px;
    text-align: right;
    height: 1.5vw;
}